<p>Hi this is a test file of server <%= node["hostname"] %></p>
<p>Hi this is a test file of server <%= node["kernel"]["name"] %></p>
<p>Hi this is a test file of server <%= node["apache"]["greeting"] %></p>
<p>Hi this is a test a environment working latest version</p>
